@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}


@font-face {
  font-family: spirit;
  src: url(../fonts/spirit/spirit.otf);
}

@font-face {
  font-family: spiritbold;
  src: url(../fonts/spirit/spiritbold.otf);
}

@font-face {
  font-family: spiritthin;
  src: url(../fonts/spirit/spiritthin.otf);
}

@font-face {
  font-family: spiritverythin;
  src: url(../fonts/spirit/spiritverythin.otf);
}

body {

  font-family: 'spirit', serif;
  letter-spacing: 0.05em;
  background-color: #000000;
  text-transform: lowercase;
}

body,
html {
  width: 100%;
}

.bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;

}


a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
  transition: letter-spacing 0.3s;
}

.navbar {
  color: #caa589;
  text-align: center;
  padding: 1em 0 1em 0;
}


.navbar li {
  display: inline;
  list-style-type: none;
  font-size: 1.5em;
  line-height: 2em;
}

.navbar li {
  padding: 0 1em 0 1em;
}




@media only screen and (max-width: 0px) {
  .navbar li {
    display: block;
  }

}


h1 {
  color: #ffebdc;
  line-height: 1.2em;
  font-family: spiritbold;
  font-size: 3em;
  padding: 1em; 
}

h1.title {
  font-size: 10vw;
  letter-spacing: 0.1em;
  margin: auto;
  padding: 1em;

}


h2 {
  color: #ffebdc;
  line-height: 1.2em;
  font-family: spiritbold;
  font-size: 2em;
  padding: 1em;
}

h3 {
  font-size: 2em;
  text-align: center;
  margin: 1em;
  margin-bottom: 0;
  color: #ffebdc;

}


p {
  color: #ffebdc;
  line-height: 1.5em;
  font-size: 1.5em;
  padding: 0 2em 1em 2em;
  text-align: center;
}

p.bio {
  color: #ffebdc;
  line-height: 1.5em;
  font-size: 1.25em;
  padding: 2em 2em 0em 2em;
  margin: auto;
  max-width: 700px;
  font-family: spiritverythin;
  background-color: #0000007b;
}


h1.title {
  text-align: center;
  transition: 0.3s;
}

p.desc {
  text-align: center;
}


p.footer {
  font-size: 1.25em;
  text-align: center;
  line-height: 1.5em;
  padding: 2em;
  max-width: 750px;
  margin: auto;
}



footer {
  background-color: #000000dc;
  left: 0;
  bottom: 0;

}


a.home:hover {
  color: #ffffff;
  letter-spacing: 0.2em;
}

a.media:hover {
  color: #ffffff;
  letter-spacing: 0.2em;
}

a.shows:hover {
  color: #ffffff;
  letter-spacing: 0.2em;
}

a.about:hover {
  color: #ffffff;
  letter-spacing: 0.2em;
}

a.contact:hover {
  color: #ffffff;
  letter-spacing: 0.2em;
}

a.merch:hover {
  color: #ffffff;
  letter-spacing: 0.2em;
}

h1.title:hover {
  color: #ffffff;
  letter-spacing: 0.1em;
}







a.expandlink:hover {
  color: #ffffff;
  letter-spacing: 0.2em;
}


.sociallinks li {

  color: rgb(255, 255, 255);
  text-align: center;
  display: inline-flex;
  list-style-type: none;
  font-size: 1.25em;
  padding: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background-color: #000000ae;
  border-radius: 50px;
  text-transform: uppercase;
  margin: 0.5em;
  border: #ff8645;
  border-width: 2px;
  border-style: solid;


}


.specialborder1{
  background: linear-gradient(to right, rgb(181, 88, 27), rgb(255, 194, 52));

}




.sociallinks a {
  margin-left: 0;
  margin-right: 0;


}


.sociallinks {
  display: flex;
  align-items: center;
  justify-content: center;

}



@media screen and (max-width: 830px) {
  .sociallinks li {
    color: rgb(255, 255, 255);
    text-align: center;
    display: block;




  }
}


@media screen and (max-width: 830px) {
  .sociallinks {
    display: block;
    align-items: center;
    justify-content: center;


  }

}




.sociallinks li:hover {
  background-color: #000000c8;
  transition: 0.5s;
}

.show {
  background-color: #00000064;
  max-width: 830px;
  margin: auto;
  margin-bottom: 25px;
  padding: 8px;
  border-radius: 15px;
}

@media screen and (max-width: 875px) {
  .show {
    background-color: #00000064;
    max-width: calc(100% - 50px);

  }
}






/* Basic styles for the image gallery */

/* Container for the gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  max-width: 1000px;
  margin: 0 auto;
}

/* Individual gallery items */
.gallery-item {
  margin: 10px;
  flex: 1 0 calc(50% - 20px);
  /* Adjust this value for different column widths */
  max-width: calc(100% - 20px);
  /* Adjust this value for different column widths */
  box-sizing: border-box;
}



.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}



/* Modal styles for fullscreen image view */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: auto;
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 80%;
}

.close {
  color: #fff;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
}


iframe.youtubevideo {
  aspect-ratio: 16/9;
  width: 100%;
}