@charset "UTF-8";

* {margin:0; padding:0;
  }


@font-face {
  font-family: spirit;
  src: url(../fonts/spirit/spirit.otf);
}

@font-face {
  font-family: spiritbold;
  src: url(../fonts/spirit/spiritbold.otf);
}


body {
  background-image: url("../img/webbackgroundsmall.svg");
  background-size: 200px;
  background-attachment: fixed;
  font-family: 'spirit', serif;
  letter-spacing: 0.05em;
  background-color:#271711;
  text-transform: lowercase;
}

body, html{
    width:100%;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
  transition: letter-spacing 0.3s;
}

.navbar {
  color:#caa589;
  text-align: center;
  padding:3em 0 3em 0;
}


.navbar li {
  display: inline;
  list-style-type:none;
  font-size: 1.5em;
  line-height: 2em;
}

.navbar li {
padding: 0 1em 0 1em;
}




@media only screen and (max-width: 905px) {
  .navbar li{display:block;}

}


h1{
  color:#ffebdc;
  line-height: 1.2em;
  font-family: spiritbold;
  font-size: 3em;
  padding: 1em;
}

p{
  color:#ffebdc;
  line-height: 1.5em;
  font-size: 1.5em;
  padding: 0 2em 1em 2em;
}


h1.title {
  text-align: center;
  transition: 0.3s;
}

p.desc {
  text-align: center;
}


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color:#caa589;
  background-color: #0000001c;
  text-align: center;
  padding:1em 0 1em 0;
  font-size: 1.5em;}


a.home:hover {color:#ffffff;letter-spacing: 0.2em;}
a.media:hover {color:#ffffff;letter-spacing: 0.2em;}
a.shows:hover {color:#ffffff;letter-spacing: 0.2em;}
a.about:hover {color:#ffffff;letter-spacing: 0.2em;}
a.contact:hover {color:#ffffff;letter-spacing: 0.2em;}
h1.title:hover {color:#ffffff;letter-spacing: 0.2em;}